// Define your variables here
$primary-color: #1e2a4a;
$secondary-color: #16203a;
$box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
$box-shadow-medium: 0 2px 10px rgba(0, 0, 0, 0.1);
$background-color: #242424;
$text-color: rgba(255, 255, 255, 0.87);
